body {
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
}

h1 {
    font-size: 50px;
}

.color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, lime);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.top_banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.skillset {
    padding-top: 10px;
}

.skills_Education {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.shadow {

    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    box-shadow: 10px 10px 20px green;
    border-radius: 5px;
}

.Achievement {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#pro {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#pub {
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#cert {
    border-left: 10px solid;
    border-image: linear-gradient(pink, lightblue);
    border-image-slice: 1;
}

footer p {
    text-align: center;

}